* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-container {
  width: 100%;
  height: 100%;
}

/* .title-back {
  position: relative;
  background-image: url(./zeldaSS/zelda-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
} */

.nin-game-title {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50%;
  height: 600px;
  /* background-color: green; */
  /* opacity: 0.5; */
}

.intro {
  margin: 0, 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.nin-game-title img {
  animation: logo 1s;
}

@keyframes logo {
  from {
    scale: 3;
  }
  to {
    scale: 1;
  }
}

.nin-chara {
  position: absolute;
  top: -50px;
  right: 40px;
  width: 50%;
  height: 120%;
  z-index: 4;
}

.nin-Sshot {
  position: absolute;
  bottom: 30%;
  width: 300vw;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  overflow: visible;
  overflow-x: scroll;
  animation: SSRail 700ms;
}

@keyframes SSRail {
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(-90%);
  }
  20% {
    transform: translateX(-80%);
  }
  30% {
    transform: translateX(-70%);
  }
  40% {
    transform: translateX(-70%);
  }
  50% {
    transform: translateX(-60%);
  }
  60% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-40%);
  }
  80% {
    transform: translateX(-30%);
  }
  90% {
    transform: translateX(-20%);
  }
  95% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

.nin-sw-Sshot {
  width: calc((100vw - 20px) / 4);
  margin: 0 10px;
  z-index: 3;
}

.ninGameSS {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SSback {
  position: fixed;
  top: -100%;
  left: -20%;
  width: 200vw;
  height: 200vh;
  background-color: #161515;
  z-index: 19;
  opacity: 0.5;
  border: 4px solid red;
}

.largeSS {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 200vw;
  height: 500px;
  z-index: 20;
  animation: SS 1s;
}

.largeSS img {
  width: 800px;
  margin-right: 10px;
  z-index: 22;
}

/* .largeSS button {
  width: 50px;
  height: 150px;
  border: none;
  background: #9c9c9c;
  z-index: 23;
  transition: all 300ms ease-in-out;
} */


@keyframes SS {
    /* from {
      scale: .5;
    }
    to {
      scale: 1;
    } */
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(-90%);
  }
  20% {
    transform: translateX(-80%);
  }
  30% {
    transform: translateX(-70%);
  }
  40% {
    transform: translateX(-70%);
  }
  50% {
    transform: translateX(-60%);
  }
  60% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-40%);
  }
  80% {
    transform: translateX(-30%);
  }
  90% {
    transform: translateX(-20%);
  }
  95% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

.nin-series {
  position: absolute;
  bottom: 5px;
  left: 10%;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  display: flex;
}

.series-title {
  /* background-image: url(./zeldaSS/zelda-icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  width: 95%;
  height: 95%;
}

.title-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: darkgreen;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  border: double 3px red;
  z-index: 20;
}

.nin-sw-item {
  background-image: url(./zeldaSS/zelda-bw.jpg);
  background-image: url();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 30%;
  height: 40%;
  margin: 10px;
}